#game{
    position: relative;
    width: 1200px;
    height: 921px;
    margin: auto;
}
#start{
    z-index: 5;
}
#pause{
    
}
#play{
    
}
.screen{
    position: absolute;
    width: 1200px;
    height: 900px;
    top: 0px;
    left: 0px;
}
.map{
    width: 100%;
}
button{
    position: absolute;
    height: auto;
    width: 70px;
    margin-left: calc(50% - 35px);
}
#solo{
    z-index: 6
}
#swordplay{
    background-image: url(images/sword%20character%20stand.gif);
}
#hammerplay{
    background-image: url(images/hammer%20character%20stand.gif);
}
#space{
    background-image: url(images/background.gif)
        
}