#game{
    position: relative;
    width: 1200px;
    height: 921px;
    margin: auto;
}
#start{
    z-index: 4;
}
#pause{
    z-index: 1;
}
#play{
    z-index: 3
}
.screen{
    position: absolute;
    width: 1200px;
    height: 900px;
    top: 0px;
    left: 0px;
}
#map{
    width: 100%;
}
button{
    font-family: cursive;
    font-size: 35px;
    font-weight: 800px;
    position: absolute;
    height: auto;
    width: 140px;
    margin-left: calc(50% - 70px);
    background-color: mediumaquamarine;
    border-width: thick;
    border-color: green;
    border-radius: 120px;
}
#solo{
    z-index: 5;
    margin-top: 300px;
}
#co-op{
    z-index: 5;
    margin-top: 500px;
}
#resume{
    z-index: 2;
    margin-top: 300px;
}
#exit{
    z-index: 2;
    margin-top: 500px;
}
#swordplay{
    position: absolute;
    top: 350px;
    left: 100px;
    width: auto;
    width: auto;
    height: auto;
    z-index: inherit;
    background-image: url(images/swordStand.gif)
}
#hammerplay{
    position: absolute;
    top: 350px;
    left: 1000px;
    width: auto;
    height: auto;
    z-index: inherit;
    background-image: url(images/hammerStand.gif);
}
#space{
    background-image: url(images/background.gif);
}
#resume{
    
}