#game{
    position: relative;
    width: 1200px;
    height: 921px;
    margin: auto;
}
#start{
    z-index: 4;
}
#pause{
    z-index: 1;
}
#play{
    z-index: 3
}
.screen{
    position: absolute;
    width: 1200px;
    height: 900px;
    top: 0px;
    left: 0px;
}
.map{
    width: 100%;
}
button{
    font-family: cursive;
    font-size: 35px;
    font-weight: 800px;
    position: absolute;
    height: auto;
    width: 140px;
    margin-left: calc(50% - 70px);
}
#solo{
    z-index: 5;
    margin-top: 300px;
}
#co-op{
    z-index: 5;
    margin-top: 500px;
}
#resume{
    z-index: 2;
    margin-top: 300px;
}
#exit{
    z-index: 2;
    margin-top: 500px;
}
#swordplay{
    background-image: url(images/sword%20character%20stand.gif);
}
#hammerplay{
    background-image: url(images/hammer%20character%20stand.gif);
}
#space{
    background-image: url(images/background.gif);
    z-index:10;
        
}